<div style={{config-style listConfig.data.body}}>
{{#paper-data-table sortProp=(if listConfig.data.table.sort listConfig.data.table.sort "priority") sortDir="desc" selectable=true as |table|}}

{{#table.head as |head|}}
  {{#head.column}}
  {{/head.column}}
  {{#head.column sortProp="callNumber"}}
    {{if listConfig.data.table.headers.callNumber listConfig.data.table.headers.callNumber "Call #"}}
  {{/head.column}}
  {{#head.column sortProp="callType"}}
    {{if listConfig.data.table.headers.callType listConfig.data.table.headers.callType "Call Type"}}
  {{/head.column}}
  {{#head.column sortProp="priority" numeric=true}}
    {{if listConfig.data.table.headers.priority listConfig.data.table.headers.priority "Priority"}}
  {{/head.column}}
  {{#head.column sortProp="address"}}
    {{if listConfig.data.table.headers.address listConfig.data.table.headers.address "Address"}}
  {{/head.column}}
  {{#head.column sortProp="relatedCalls"}}
    {{if listConfig.data.table.headers.relatedCalls listConfig.data.table.headers.relatedCalls "Related Calls"}}
  {{/head.column}}
{{/table.head}}
{{#table.body as |body|}}
  {{#each (sort-by table.sortDesc listData.data) as |call|}}
    {{#body.row class="data-row" onClick="cefCustomObject.logVal();" edit=true as |row|}}
      {{#row.cell}}  {{/row.cell}}
      {{#row.cell}}JD-17{{/row.cell}}
      {{#row.cell}}{{call.callType}}{{/row.cell}}
      {{#row.cell numeric=true}}
        <span class="priority" data-color={{priority-color call.priority}}>{{call.priority}}</span>
      {{/row.cell}}
      {{#row.cell}}{{call.address}}{{/row.cell}}
      {{#row.cell}}
        {{#each call.relatedCalls as |relatedCall|}}
          <span data-color="blue" class="units">{{relatedCall.rin}}</span>
        {{/each}}
      {{/row.cell}}
    {{/body.row}}
    {{#body.row as |row|}}
    {{#row.cell}}
      {{#paper-data-table selectable=true as |table2|}}
      {{#table2.body as |body2|}}
      {{#body2.row  as |row2|}}
        {{#row2.cell}}This is a test{{/row2.cell}}
      {{/body2.row}}
      {{/table2.body}}
      {{/paper-data-table}}
    {{/row.cell}}
    {{#row.cell}}
    {{/row.cell}}
    {{#row.cell}}
    {{/row.cell}}
    {{#row.cell}}
    {{/row.cell}}
    {{/body.row}}
  {{/each}}
{{/table.body}}
{{/paper-data-table}}

{{outlet}}
</div>
