{{#each call.callUnits as |units|}}
    <span onClick={{action "pillClick" "unit" units}}  style={{unit-color listConfig.data.table.columns.units units}} class="units">
      {{#if (get-property listConfig.data.table.columns.units.icon units listConfig.data.table.columns.units.icon.key)}}
        {{fa-icon (get-property listConfig.data.table.columns.units.icon units listConfig.data.table.columns.units.icon.key)}}
      {{else}}
        {{fa-icon (if (eq call.serviceType 'cl') "fire-extinguisher" "cab")}}
      {{/if}}
      {{custom-label units listConfig.data.table.columns.units.label}}
      {{#bs-popover triggerEvents="hover" placement="right"}}
        {{custom-label units listConfig.data.table.columns.units.tooltip true}}
      {{/bs-popover}}
    </span>
{{/each}}
{{#each call.relatedCalls as |relCalls|}}
  {{#each relCalls.callUnits as |units|}}
    <span onClick={{action "pillClick" "unit" units}} style={{unit-color listConfig.data.table.columns.units units}} class="units">
      {{#if (get-property listConfig.data.table.columns.units.icon units listConfig.data.table.columns.units.icon.key)}}
        {{fa-icon (get-property listConfig.data.table.columns.units.icon units listConfig.data.table.columns.units.icon.key)}}
      {{else}}
        {{fa-icon (if (eq relCalls.serviceType 'cl') "fire-extinguisher" "cab")}}
      {{/if}}
      {{custom-label units listConfig.data.table.columns.units.label}}
      {{#bs-popover triggerEvents="hover" placement="right"}}
        {{custom-label units listConfig.data.table.columns.units.tooltip true}}
      {{/bs-popover}}
    </span>
  {{/each}}
{{/each}}
{{yield}}
